body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

*{
    box-sizing: border-box;
}

.left-column{
    width: 17%;
    float: left;
    padding:20px;
    border-style: solid;
    border-width: 1.5px;
    border-left-color: #e4e6eb;
    border-right-color: #fafafa;
    border-top-color: #fafafa;
    border-bottom-color: #e4e6eb;
}

.right-column{
    float:right;
    width:83%;
    border-style: solid;
    border-width: 1.5px;
    border-left-color: #e4e6eb;
    border-right-color: #e4e6eb;
    border-top-color: #fafafa;
    border-bottom-color: #e4e6eb;
}

.header-right {
    float: right;
    font-size: 16px;
    margin:14px;
    text-decoration: none;
}

.profile-name{
    background-color: #eeeeee;
    border-top-color: #e4e6eb;
    border-bottom-color: #1c4966;
    border-left-color: #e4e6eb;
    border-right-color: #e4e6eb;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: left;
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 10px;
}

.information{
    width: 100%;
}

.box{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 8px;
    background-color: #d3d3d3;
}

.info-header{
    background-color: #d3d3d3;
    margin-top:20px;
    padding-left: 20px;
}

.info{
    border: 1.5px solid;
    border-bottom-color: #e4e6eb;
    border-top: white;
    border-left: white;
    border-right: white;
}

.status{
    margin-top: 40px;
}

.button{
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 1.5px;
    border-color: #aaaaaa;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 85%;
}

h3{
    border-color: #e4e6eb;
    border-style: solid;
    border-width: 0 0 1px;
    padding-left: 10px;
    font-weight: normal;
}

h4{
    border-color: #e4e6eb;
    border-style: solid;
    border-width: 0 0 1px;
    font-weight: normal;
}

.statistics{
    margin-bottom: 20px;
    padding-left: 10px;
    display: table;
    width: 100%;
}

.favorites{
    height: auto;
    position: relative;
}

.user-favorites{
    width: 100%;
    display:table;
}

.tablecell{
    display: table-cell;
    padding-left: 8px;
    width: 50%;
}

.txtarea{
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    font-family: Nexa;
    font-size: 14px;
}

.submit-btn{
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 1.5px;
    border-color: #d8d8d8;
    color: black;
    display: block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 12%;
    margin-bottom: 20px;
    font-family: Nexa;
}

.comments{
    background-color: #d3d3d3;
    margin-bottom: 20px;
}

.extension{
    display:block;
    padding: 16px 3px 20px;
}

.right-text {
    float: right;
    font-size: 14px;
    margin:14px;
    text-decoration: none;
}

.comment-pic{
    width: 80%;
    margin-left: 20px;
}

.username-text{
    color: blue; 
    text-decoration: none; 
    font-size: 16px;
}

.footer-block{
    background-color: #d8d8d8;
}
