{{> header}}

<div id="content">
    <h3> Cartoons 
        <span>
            <a href="/all-cartoons/by-popularity" class="link">Popularity</a>
            <a href="/all-cartoons/by-release-date" class="link">Release Date</a>
            <a href="/all-cartoons" class="link">Alphabetical</a>
        </span> 
    </h3>

    <div class = "inner">
        {{#each cartoons}}
                <a href="/{{file}}"><img src="images/CartoonPic/{{path}}" class="cartoonpic" style="cursor:pointer;"></a> 
        {{/each}}
    </div>
    <label class="view-all1" for="view-all"><input type="checkbox" class="view-all"/>View </label>
</div>
