{{> header}} 

<div>
    <!-- CARTOON INFORMATION (LEFT)-->

    <div class="left-column">
         <h2> Adventure Time </h2>
        <div class="box">
            <img class="cartoon-picture" alt="Adventure Time" src="images/CartoonPic/adventure-time.jpg"> 
            <a href="http:www.youtube.com" class="button"> <img src="https://static.thenounproject.com/png/576517-200.png" style="width: 12px; height: 12px;"> Add Cartoon </a>
        </div>

        <div class="info">
            <table class="information">
                <tr style="background-color: #ECECEC;">
                    <td>Type</td>
                    <td style="text-align: right;">Series</td>
                </tr>
                <tr>
                    <td>Episodes</td>
                    <td style="text-align: right;">274</td>
                </tr>
                <tr style="background-color: #ECECEC;">
                    <td>Release Date</td>
                    <td style="text-align: right;">April 5, 2010</td>
                </tr>
                <tr>
                    <td>Date Posted</td>
                    <td style="text-align: right;">April 13, 2021</td>
                </tr>
            </table>
        </div>

        <h3> List of Sites </h3>
        <a style="padding-left: 30%" 
            href="https://www.netflix.com/search?q=adventure%20time&jbv=70241425" target="_blank"><img alt="Netflix" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAyVBMVEX///+wHyTmHiWqAACcHB/
            kAACvGyDpHiWzKi+0LTKzKC2vFx2aHB+vFhy1Mze2Njr+9vemHSGWAACoHiLlABC3PD/KHSPlDRi+VFbmFx/
            hHiW7Sk2gHCDlCRX4z9D3w8Tsa27YHiTPHSPAHSKoQUP85ufxmpzAW17629vufX/
            1trfzqKrpRUnnMTfxlJatAAvEKC3qWFyxQ0WoSkzudXjvhIebAADoO0D97e3rYmauDBXqT1PDZ2nLfoDQjY/Xn6Hdrq/
            pysvEAADyc9I9AAAEhklEQVR4nO2da1MTWRRFu5PbHTQdoOloHtzICEEREMSRGQVHxf//o+Y2UenHOR2s0sJ9aq+
            vnA9ZlQ2dhWURRYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEII+aPZlnnol/ULmSQih63DaV/kAV7yT/
            Jm1hMYv2gdvhzFAgCGGwPJcPa6dYhruC8qJkfNQ1jDxwei4eKseYhrWEiCvcGkeYhrGD+VZ/qscYhrmKai4eRV4xDY0M/
            FmY4bh8CGhfyzJtmrH05xDeNCnulf9UNkQ3mmvaT+4RTZUJvpce0Q2TD28ie3i9rhdIhs+
            PweM4U2VGY6PqkeQhvGTp7pafUQ3FCZabWDsQ3zoTzTagdjG8bZ+g6GNdxYGa7vYHBDLwfG4vLuENywyMQfNdUOBjeMs7UdjG7o43U
            djG5YZOs6eBfcUJ3pjw6GN/T5mg6GN8zlmd4FBrxhnCmB8b2D8Q3dmg7GN/RZdwfjGxbaTL91ML5h7Lo72IBhmKn8SFx1sAHDIuvs
            YAOGsevsYAuGvrODLRjmTung238PhjV8dGdYuK4OfpviG4ZvxI4OXhp4D2PvOjp4aeE9DDPVO9iEoT7T0MHL3IKhd3oHL70Fw1yZa
            RkYNgzDTNV/D156aaZ4hnoHL730JsIZhpkqHRwMnQXDwjnt1zV/e1cYMAwzVTr4IhgKM8Uz9E7p4Fl4e4WZ4hkGD7mDB08zJ8wUzz
            DMVO7g3jwYtp8XmIZyBw9SJ3wjAhrmTung25laMAzfiHIH93rSNyKgYTlTOTDEmSIaeqd08GBfmCmiYTlTOTAGrj1TRMOOmY7azwt
            IwzBTuYN7z9szhTTM9Zl6G4blTOXAGBxkzZmiGjov/p+9cqbegmHYYnYtKrZnimkYnhc7x2NtpoUBwzDTnW3RsAyM3IKhdzvRu4n4
            JhaNmQIYbgqGeXgPnyWiYQgMC4ZxMIzG4gOjOVNkw8uF+Cam9ecFqmEeDI/uNVNUwyIYRnP5w2n9eYFqGJeGZ/
            eZKazhP8FQmel+babQhtG/8ic3Z8KwXxqeyJ/cRlluwbD80ntxpiEwvBXDSA0MM4ZqYBRIhlsdhtvrZwpuGH2QA6MyU1jD89UX9+
            RHYmWm6IaRPNP53fMC3lDtYDOGagebMVQ7uDBjqHWwN2OodjC64dWPr8/l335/n6kBQ62DvRnDQ62DzRhqHQxumFYMlQ4e5mYMt
            Q522IajyoXSwYYMtQ7OzRhqHeygDYfVE62DoQ3T6onWwQWG4RPRMK7dKB3s7RhqHWzHUOvgAtjwcf1oIXewt2OodTCw4Ub9SOtg
            YMNHjavXcgfnuIabjasXSmDgGm41rrQOxjV80jw7lWda2DFUOvgA1XC42zzTOhjKME2Ho6ur8/Pzfr/
            fMoyukyQZjxeT2az69B8AGO6OhkGr/GsjV1vTj/99+vzly83R4fvW3fbh0d7xyeW7i9P57R8xWdnOvj7AS/
            5JNtPpx0+fb27aTjor27NXH67nyW97YYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEII+TX8D7rcbtCnK+1DAAAAAElFTkSuQmCC" 
            height="30%" width="30%"></a>
        <div style="padding-left: 30px">Netflix (Philippines)</div>
    </div>

    {{!-- right --}}

    <div class="right-column">
        <h3> Synopsis </h3>
        <div style="padding-left: 20px">
            A 12-year-old boy and his best friend, wise 28-year-old dog with magical powers, 
            go on a series of surreal adventures with each other in a remote future.
        </div>

        <h3>Cartoon Stats</h3>
        <div class="statistics">
            <div class="tablecell">
                <div style="font-size: 13px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>Score</td>
                            <td style="font-size: 20px"><b>8.90</b></td>                                    
                        </tr>
                        <tr>
                            <td>Ranking</td>
                            <td style="font-size: 20px"><b>#1</b></td>
                        </tr>
                        <tr>
                            <td>Popularity</td>
                            <td style="font-size: 20px"><b>#1</b></td>
                        </tr>
                        <tr>
                            <td>Members</td>
                            <td style="font-size: 20px">10</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
 
        <h3> Notable Quotes </h3>
        <div style="padding: 0px 0px 15px 20px">
            “People get built different. We don’t need to figure it out, we just need to respect it.” - Princess Bubblegum
        </div>
        <div style="padding: 0px 0px 15px 20px">
            “You don’t need a mirror to look good. You’re beautiful on the inside.” - Finn the Human
        </div>
        <div style="padding: 0px 0px 15px 20px">
            “Sometimes life is scary and dark. That is why we must find the light.” - BMO
        </div>

        <h3> Reviews </h3>
        
        <div class="comments">
            <table style="width: 100%;">
                <div class="submission-box">
                    <form style="padding-left: 8px;"> 
                        <textarea class="txtarea" cols="60" rows="6" placeholder="Write a new comment" style="width: 60%; margin-bottom: 10px;"> </textarea>
                    </form> 
                    <a href="#"><button id="submit-button">Submit</button></a>
                </div>
                <tr>
                    <td style="width: 7.5%;"><img src="images/ProfilePic/mikuuu.jpg" class="comment-pic"></td>
                    <td> 
                        <p class="right-text" style="font-size: 12px;"> April 12, 2021 9:12 PM </p>
                        <p><a href="/profile" class="username-text">mikuuuu </a></p> 
                        <a class="right-text" href="./profile.html">Delete</a>
                        <p style="font-size: 14px;"> Highly Recommended! </p>
                        <p style="font-size: 14px;"> Rating: <b>9</b></p>
                        <p><img src="images/Pics/lineheart.png" style="width: 1.5%;"></p>

                    </td>
                </tr>
                <tr>
                    <td style="width: 7.5%;"><img src="images/ProfilePic/Ichika-chan.jpg" class="comment-pic"></td>
                    <td> 
                        <p class="right-text" style="font-size: 12px;"> April 12, 2021 7:12 PM </p>
                        <p><a href="http://www.twitter.com" class="username-text">Ichika-chan</a></p> 
                        <a class="right-text" href="http://www.facebook.com">Delete</a>
                        <p style="font-size: 14px;"> I wasn't able to finish the cartoon but it was worth watching! </p>
                        <p style="font-size: 14px;"> Rating: <b>8.9</b></p>
                        <p><img src="images/Pics/lineheart.png" style="width: 1.5%;"></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 7.5%;"><img src="images/ProfilePic/Nakano_Itsuki.jpg" class="comment-pic"></td>
                    <td> 
                        <p class="right-text" style="font-size: 12px;"> April 12, 2021 12:00 PM </p>
                        <p><a href="http://www.twitter.com" class="username-text"> Nakano_Itsuki </a></p> 
                        <a class="right-text" href="http://www.facebook.com">Delete</a>
                        <p style="font-size: 14px;"> I really like Adventure Time 💘 </p>
                        <p style="font-size: 14px;"> Rating: <b>8.9</b></p>
                        <p><img src="images/Pics/heart.png" style="width: 1.5%;"></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 7.5%;"><img src="images/ProfilePic/NakanoNino.jpg" class="comment-pic"></td>
                    <td> 
                        <p class="right-text" style="font-size: 12px;"> April 11, 2021 11:30 PM </p>
                        <p><a href="http://www.twitter.com" class="username-text">NakanoNino </a></p> 
                        <a class="right-text" href="http://www.facebook.com">Delete</a>
                        <p style="font-size: 14px;"> I hope they have another sequel soon! </p>
                        <p style="font-size: 14px;"> Rating: <b>8.9</b></p>
                        <p><img src="images/Pics/heart.png" style="width: 1.5%;"></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 7.5%;"><img src="images/ProfilePic/Yotsubarashii.jpg" class="comment-pic"></td>
                    <td> 
                        <p class="right-text" style="font-size: 12px;"> April 11, 2021 2:12 PM </p>
                        <p><a href="http://www.twitter.com" class="username-text">Yotsubarashii </a></p> 
                        <a class="right-text" href="http://www.facebook.com">Delete</a>
                        <p style="font-size: 14px;"> I really recommend this cartoon to other people </p>
                        <p style="font-size: 14px;"> Rating: <b>8.9</b></p>
                        <p><img src="images/Pics/heart.png" style="width: 1.5%;"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>     