{{> header}}

<div id="content">
    <h3> My List 
        <span>
            <a href="/list" class="link">Watching</a>
            <a href="/list" class="link">On Hold</a>
            <a href="/list" class="link">Dropped</a>
            <a href="/list" class="link">Plan to Watch</a>
        </span> 
    </h3>

    <div class = "inner">
        {{#each cartoons}}
                <a href="/cartoon-info"><img src="images/CartoonPic/{{path}}" class="cartoonpic" style="cursor:pointer;"></a> 
        {{/each}}
    </div>
    <p class="view-all1">View More</p>
</div>

<script>
    $('.view-all1').on('click', function () {
        $('.inner').css("max-height","10000px");
        $('.view-all1').css("display","none");
    }); 
</script>
