<header>
    <div class="header-left">
        <a href="/"><img src="images/Pics/TLLogo.png" class="TLLogo" alt="ToonList"/></a>
    </div>
</header> 

<h2> Edit Profile </h2>

<div class="login-box">
    <form class="email-signup" id="email-signup">
        <div class="form-top">
            <image id="profileImage" src="images/ProfilePic/DefaultPic.png"/>
            <input id="imageUpload" type="file"
                name="profile_photo" placeholder="Photo" optional="" accept="image/*">
            <div class="u-form-group" id="grid-2">
                <input type="email" placeholder="Email ({{email}})" optional=""/>
            </div>
            <div class="u-form-group" id="grid-3">
                <input type="username" placeholder="Username ({{username}})" optional=""/>
            </div>
        </div>

        <div class="u-form-group">
            <textarea class="txtarea" cols="60" rows="7" placeholder="Bio" style="margin-top: 5px; resize:none;"></textarea> 
        </div>

        <div class="u-form-group">
            <input id = "password" type="password" placeholder="Password" optional="" minlength="7"/>
        </div>

        <div class="u-form-group" id="buttonss">
            <input class="delete-buttn" type="submit" value="Delete Account">
            <input class="submit-buttn1" type="submit" value="Submit">
        </div>
    </form>
</div>

<script>
    function picPreview(uploader) {
        if ( uploader.files && uploader.files[0] ){
            $('#profileImage').attr('src', 
            window.URL.createObjectURL(uploader.files[0]) );
            }
        }

        $("#imageUpload").change(function(){
            picPreview( this );
        });

        $("#profileImage").click(function(e) {
            $("#imageUpload").click();
    });
</script>