<header>
    <div class="header-left">
        <a href="/"><img src="images/Pics/TLLogo.png" class="TLLogo" alt="ToonList"/></a>
    </div>
</header>   
<body>
<div class="login-box">
  <div class="lb-header">
    <a href="/login" id="login-box-link">Login</a>
    <a href="#" class="active" id="signup-box-link">Sign Up</a>
    
    
  </div>

  <div class="social-login">
    <a href="#">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="#">
      <i class="fa fa-google-plus fa-lg"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
  </div>

  {{!-- <form class="email-login" id="email-login" method="post"> --}}
    {{!-- <div class="u-form-group">
      <input type="email" name="logemail" placeholder="Email" required=""/>
    </div>

    <div class="u-form-group">
      <input type="password" name="logpass" placeholder="Password" required=""/>
    </div>

    <div class="u-form-group">
      <a href="#" class="forgot-password">Forgot password?</a>
    </div>

    <div class="u-form-group">
      <input class="submit-buttn" type="submit" value="Log In">
    </div> --}}

  <form class="email-login" id="email-signup" method="post">
    <div class="form-top">
      <image id="profileImage" src="images/Pics/DefaultPic.png"/>
      {{!-- <input id="imageUpload" type="file"
         name="profile_photo" placeholder="Photo" optional="" accept="image/*"> --}}
      <div class="u-form-group" id="grid-2">
        <input type="email" name="signemail" placeholder="Email" optional=""/>
      </div>
      <div class="u-form-group" id="grid-3">
        <input type="username" name="signuser" placeholder="Username" required=""/>
      </div>
    </div>

    <div class="u-form-group">
      <input type="text" name="signpic" id="imgurl" placeholder="image URL" optional=""/>
    </div>

    <div class="u-form-group">
      <input type="date" name="signbday" placeholder="Birthday" required=""/>
    </div>

    <div class="u-form-group">
      <input id = "password" name="signpass" type="password" placeholder="Password" required="" minlength="7"/>
    </div>

    {{!-- <div class="u-form-group">
      <input id = "password_confirm" type="password" placeholder="Confirm Password" required="" minlength="7"/>
    </div> --}}

    <div class="u-form-group">
      <input id="checkbox" name="signup-box" type="checkbox" required=""/>
      <label for="checkbox"> I agree to ToonList's <a href="#">Terms and Conditions</a>.</label>
    </div>

    <div class="u-form-group">
      <input class="submit-buttn1" type="submit" value="Submit">
    </div>
  </form>
</div>

<script src="/js/signup-script.js"></script>
