<header>
    <div class="header-left">
        <a href="/"><img src="images/Pics/TLLogo.png" class="TLLogo" alt="ToonList"/></a>
    </div>
</header>   
<body>
<div class="login-box">
  <div class="lb-header">
    <a href="#" class="active" id="login-box-link">Login</a>
    <a href="#" id="signup-box-link">Sign Up</a>
  </div>

  <div class="social-login">
    <a href="#">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="#">
      <i class="fa fa-google-plus fa-lg"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
  </div>

  <form class="email-login">
    <div class="u-form-group">
<<<<<<< Updated upstream
      <input type="email" name="login-email" placeholder="Email"/>
    </div>

    <div class="u-form-group">
      <input type="password" name="login-password" placeholder="Password"/>
=======
      <input type="email" placeholder="Email" required=""/>
    </div>

    <div class="u-form-group">
      <input type="password" placeholder="Password" required=""/>
>>>>>>> Stashed changes
    </div>

    <div class="u-form-group">
      <a href="#" class="forgot-password">Forgot password?</a>
    </div>

    <div class="u-form-group">
      <input class="submit-buttn" type="submit" value="Log In">
    </div>
  </form>

  <form class="email-signup" id="email-signup">
    <div class="form-top">
      <image id="profileImage" src="images/Pics/DefaultPic.png"/>
      <input id="imageUpload" type="file"
         name="profile_photo" placeholder="Photo" optional="" accept="image/*">
      <div class="u-form-group" id="grid-2">
        <input type="email" placeholder="Email" optional=""/>
      </div>
      <div class="u-form-group" id="grid-3">
        <input type="username" placeholder="Username" required=""/>
      </div>
    </div>

    <div class="u-form-group">
      <input type="date" placeholder="Birthday" required=""/>
    </div>

    <div class="u-form-group">
      <input id = "password" type="password" placeholder="Password" required="" minlength="7"/>
    </div>

    {{!-- <div class="u-form-group">
      <input id = "password_confirm" type="password" placeholder="Confirm Password" required="" minlength="7"/>
    </div> --}}

    <div class="u-form-group">
      <input id="checkbox" type="checkbox" required=""/>
      <label for="checkbox"> I agree to ToonList's <a href="#">Terms and Conditions</a>.</label>
    </div>

    <div class="u-form-group">
      <input class="submit-buttn1" type="submit" value="Submit">
    </div>
  </form>
</div>
<<<<<<< Updated upstream
</body>
<script src="../js/signup-script.js"></script>
=======

<script src="js/signup-script.js"></script>
>>>>>>> Stashed changes
