* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

body {
    background-color: white;
}

.left-column{
    width: 17%;
    float: left;
    padding-left:20px;
    padding-right:20px;
    border-style: solid;
    border-width: 1.5px;
    border-left-color: #e4e6eb;
    border-right-color: #fafafa;
    border-top-color: #fafafa;
    border-bottom-color: #e4e6eb;
}

.right-column{
    float:right;
    width:83%;
    border-left: solid 1.5px;
    border-top: solid 1.5px;
    border-right: solid 1.5px;
    border-left-color: #e4e6eb;
    border-right-color: #e4e6eb;
    border-top-color: #fafafa;
    height: 580px;
}

.cartoon-name{
    background-color: #eeeeee;
    border-top-color: #e4e6eb;
    border-bottom-color: #1c4966;
    border-left-color: #e4e6eb;
    border-right-color: #e4e6eb;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: left;
    
    font-family: 'Open Sans', sans-serif;
}

.cartoon-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    margin-bottom: 10px;
}

.information{
    width: 100%;
}

.box{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 10px;
    background-color: #d3d3d3d5;
}


.status{
    margin-top: 40px;
}

.button{
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 1.5px;
    border-color: #aaaaaa;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 85%;
}

h2 {
    bottom: 10px;
    padding-left: 41px;
    font-size: 14px;
}

h3{
    border-color: #e4e6eb;
    border-style: solid;
    border-width: 0 0 1px;
    padding-left: 7px;
    font-weight: bold;
    color: rgba(22, 22, 22, 0.856);
}

.statistics{
    margin-bottom: 20px;
    padding-left: 10px;
    display: table;
    width: 100%;
}

.favorites{
    height: auto;
    position: relative;
}

.user-favorites{
    width: 100%;
    display:table;
}

.tablecell{
    display: table-cell;
    padding-left: 8px;
    width: 50%;
}

.txtarea{
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
}

.comments{
    margin-bottom: 0px;
    margin-top: 0px;
}

.comments tr {
    border: 1px solid #ffffff;
}

.extension{
    display:block;
    padding: 16px 3px 20px;
}

.right-text {
    float: right;
    font-size: 14px;
    margin:14px;
    text-decoration: none;
}

.comment-pic{
    width: 80%;
    margin-left: 20px;
    border-radius: 40px;
}

.username-text{
    color: blue; 
    text-decoration: none; 
    font-size: 16px;
}

.footer-block{
    background-color: #d8d8d8;
}

.submit-button:active + .first-comment {
    display:block;
}

.clearfix {
	clear: both;
}

section h1, p, textarea, li, button {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

section { 
	width: 400px;
	margin: 0 auto;
    position: absolute;
    left: 249px;
}

section .commentBox {
	width: 100%;
	height: 70px;
	padding: 5px;
	outline: none;
	font-size: 80%;
	resize: vertical;
	margin-bottom: 20px;
	border: 1px solid #0EBFE9;
	border-bottom: 4px solid #63D1F4;
}

section p {
	float: left;
	line-height: 30px;
}

section span {
	font-weight: bold;
}

section button {
	border: 0;
	width:	30%;
	color: #fff;
	height: 35px;
	float: right;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	background-color: #0EBFE9;
	border-bottom: 3px solid #63D1F4;
}

section button:hover {
	background-color: #0099CC;
	border-bottom: 3px solid #00688B;
}

section button:disabled {
	background-color: #d3d3d3 ;
	border-bottom: 3px solid #d3d3d3;
}

section ul {
	margin-top: 60px;
	list-style: none;
	padding-left: 0px;
}

section ul li {
	padding: 10px 10px;
  word-wrap: break-word;
	border-bottom: 3px solid #25aae7;
    width: 1100px;
}

section .item {
    display: flex;
    align-items: center;
}

.lasttext {
    padding-right: 5px;
}

section .cmnt {
    flex: 37%;
    border: none;
    resize: none;
    font-family: 'Work Sans';
    padding-top: 1.5%;
}

section .toggleimg {
    flex-shrink: 40%;
}

section .dlt-bt, .edt-bt {
    cursor: pointer;
    color: #25aae7;
}

section ul li:hover {
	border-bottom: 3px solid #00688B;
}

.share-fb {
    position: relative;
    left: 30px;
    top: 6px;
}

#list-menu {
    position: absolute;
    top: 1%;
    right: 1%;
    display: none;
    width: 155px;
    background-color: white;
}

#list-menu ul {
    list-style-type: none;
    text-align: center;
    margin: 2px;
    padding: 10px;
}

#list-menu li {
    font-size: 14px;
    padding: 5px;
}   

.button:hover + #list-menu {
    display: block;
    cursor: pointer;
}

#list-menu:hover{
    display: block;
    cursor: pointer;
}

.drop-down-menu {
    font-family: 'Work Sans';
    position: absolute;
    top: 10%;
    right: 10%;
    display: none;
    width: 155px;
    background-color: white;
}

.drop-down-menu ul {
    list-style-type: none;
    text-align: center;
    margin: 2px;
    padding: 10px;
}

.drop-down-menu a {
    color: black;
    text-decoration: none;
    display: block;
    width: 130px;
    padding: 10px;
}

.drop-down-menu a:hover, .drop-down-menu li:hover{background-color: rgba(238, 238, 238, 0.199);}

#down:hover + .drop-down-menu {
    display: block;
}

.drop-down-menu:hover{
    display: block;
}