body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin: 0; padding: 0;
}

.profile-name{
    background-color: #eeeeee;
    border-top-color: #e4e6eb;
    border-bottom-color: #1c4966;
    border-left-color: #e4e6eb;
    border-right-color: #e4e6eb;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
}

#content .link{
    text-decoration: none;
    padding: 2px 8px;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}

#content .active{
    text-decoration: none;
    background-color: #1c4966;
    color: #fff;
    padding: 2px 8px;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}

#content h3{
    border-color: #e4e6eb;
    border-style: solid;
    border-width: 0 0 1px;
    padding-left: 10px;
    font-weight: normal;
}

#content {
    max-width: 100vw;
}

.cartoonpic{
    height: 170px; 
    width: 120px;
    margin-left: 20px;
}

table{
    margin-bottom: 30px;
}

.pic{
    width: 65%;
    margin-left: 20px;
}

.cartoonpic {
    width: 160px;
    height: 210px;
    object-fit: cover;
    border-radius: 7px;
}

.view-all1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: relative;
    left: 46%;
    color: #25aae7;
    cursor: pointer;
}
/*

input[type="checkbox"] {
    display: block;
}

label {
  color:#25aae7;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
} */

.inner {
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 15px;
    display: inline-block;
    justify-content: space-around;
    align-content: space-around;
    max-height:440px;
    overflow:hidden;
    width:100%;
}
/* 
.view-all:checked + .inner {
  max-height:1000px;
}

.view-all:checked + .view-all {
    display: none;
} */