header {
    background-color: #25aae7;
    padding: 10px;
    position: relative;
    height: 65px;
    z-index: 4;
}

.header-left {
    float: left;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    left: 1%;
    top: 7.5px;
    width: 400px;
    display: flex;
    align-items: center;
}