* { 
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  background-color: rgb(245, 244, 244);
}

a:link {
  text-decoration: none;
}

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 320% !important;
  text-shadow: 2px 2px 15px rgb(0, 0, 0, 0.5);
  position: relative;
  right: 1%
}

h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 150% !important;
  text-shadow: 2px 2px 15px rgb(0, 0, 0, 0.2);
  position: relative;
  top: 70%;
}

.fa-star {
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
}

span, p {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 14px rgb(0, 0, 0, 12.0);
  padding-bottom: 20px;
}

#featured-image {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#featured-content {
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 40%;
  top: 37%;
  left: 7%;
}

#featured-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
  width: 50%;
}

.fa-plus {
  color: white;
  position: relative;
  top: 105%;
  padding-top: 9%;
  padding-right: 5%;
}

#general-categories {
  margin-top:95vh;
  display: absolute;
  margin-left: 0;
  margin-right: 2.7%;
}

.show-categories {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

.show-categories li {
  font-family: "Poppins", sans-serif;
  font-size: 40px;

}

.show-categories a:link {
  color: black;
}

.show-categories a:hover {
  color: #0d99da;
}

#cartoon-show {
  display: absolute;
  margin-top: 10vh;
  margin-left: 10vh;
  height: 191px;
  width: 321px;
  background-size: contain;
  border-radius: 20px;
}

.fa-caret-right {
  padding-left: 10px;
}

.drop-down-menu {
  font-family: 'Work Sans';
 background: white;
 cursor:pointer;
}