body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

*{
    box-sizing: border-box;
}

.profile-name {
    color: #25aae7;
    padding-left: 10px;
}

.left-column{
    width: 17%;
    float: left;
    border-style: solid;
    border-width: 1.5px;
    border-left-color: #e4e6eb;
    border-right-color: #fafafa;
    border-top-color: #fafafa;
    border-bottom-color: #e4e6eb;
}

.right-column{
    float:right;
    width:83%;
    border-left: solid 1.5px;
    border-top: solid 1.5px;
    border-right: solid 1.5px;
    border-left-color: #e4e6eb;
    border-right-color: #e4e6eb;
    border-top-color: #fafafa;
    height: 580px;
}

.full-content {
    position: absolute;
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 10px;
    left: 10%;
}

.information{
    width: 100%;
}

.box{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 8px;
    background-color: #d3d3d3;
}

.info-header{
    background-color: #d3d3d3;
    margin-top:20px;
    padding-left: 20px;
}

.info{
    border: 1.5px solid;
    border-bottom-color: #e4e6eb;
    border-top: white;
    border-left: white;
    border-right: white;
}

.status{
    margin-top: 40px;
}

.button{
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 1.5px;
    border-color: #aaaaaa;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 85%;
}

h3{
    border-color: #e4e6eb;
    border-style: solid;
    border-width: 0 0 1px;
    padding-left: 10px;
    font-weight: normal;
}

.tablecell h4{
    border-color: #e4e6eb;
    border-style: solid;
    border-width: 0 0 1px;
    font-weight: normal;
    text-decoration: none; 
}

.statistics{
    margin-bottom: 20px;
    padding-left: 10px;
    display: table;
    width: 100%;
}

.favorites{
    height: auto;
    position: relative;
    bottom: 40px;
}

.user-favorites{
    width: 100%;
    display:table;
}

.tablecell{
    display: table-cell;
    padding-left: 8px;
    width: 50%;
}

.txtarea{
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    font-family: Nexa;
    font-size: 14px;
}

.submit-btn{
    background-color: #d3d3d3;
    border: 1px solid;
    border-radius: 1.5px;
    border-color: #d8d8d8;
    color: black;
    display: block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 12%;
    margin-bottom: 20px;
    font-family: Nexa;
}

.comments{
    background-color: #d3d3d391;
    margin-bottom: 20px;
}

.extension{
    display:block;
    padding: 16px 3px 20px;
}

.right-text {
    float: right;
    font-size: 14px;
    margin:14px;
    text-decoration: none;
}

.comment-pic{
    width: 80%;
    margin-left: 20px;
    border-radius: 0px;
    padding-right: 16px;
}

.footer-block{
    background-color: #d8d8d8;
}

section .dlt-bt, .edt-bt {
    cursor: pointer;
    color: #25aae7;
}

section ul li:hover {
	border-bottom: 3px solid #00688B;
}

section h1, p, textarea, li, button {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    background-color: white;
}

section { 
	width: 400px;
	margin: 0 auto;
    position: absolute;
    left: 260px;
}

section .commentBox {
	width: 100%;
	height: 70px;
	padding: 5px;
	outline: none;
	font-size: 80%;
	resize: vertical;
	margin-bottom: 20px;
	border: 1px solid #0EBFE9;
	border-bottom: 4px solid #63D1F4;
}

section p {
	float: left;
	line-height: 30px;
    background-color: white;
}

section span {
	font-weight: bold;
}

section button {
	border: 0;
	width:	30%;
	color: #fff;
	height: 35px;
	float: right;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	background-color: #0EBFE9;
	border-bottom: 3px solid #63D1F4;
}

section button:hover {
	background-color: #0099CC;
	border-bottom: 3px solid #00688B;
}

section button:disabled {
	background-color: #d3d3d3 ;
	border-bottom: 3px solid #d3d3d3;
}

section ul {
	margin-top: 60px;
	list-style: none;
	padding-left: 0px;
}

section ul li {
	padding: 10px 10px;
  word-wrap: break-word;
	border-bottom: 3px solid #25aae7;
    width: 950px;
}

section .item {
    display: flex;
    align-items: center;
}

.lasttext {
    padding-right: 5px;
}

section .cmnt {
    flex: 37%;
    border: none;
    resize: none;
    font-family: 'Work Sans';
    padding-top: 1.7%;
}

.username-text{
    color: blue; 
    text-decoration: none; 
    font-size: 16px;
    padding-right: 5px;
}