body{
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin: 0;
}

h2 {
    color: #25aae7;
    font-family: 'Poppins';
    font-size: 30px;
    display: relative;
    padding-left: 44.3%;
}

.u-form-group textarea{
    height: 70px !important;
	font-family:'Work Sans';
}

.u-form-group input[type="email"],
.u-form-group input[type="username"],
.u-form-group input[type="date"],
.u-form-group input[type="password"],
.u-form-group input[type="text"],
.u-form-group textarea{
	width: calc(50% - 22px);
	height: 45px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
	color: #333;
	font-size:0.8rem;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}

.delete-btn{
    background:    #25aae7;
    border: 0;
    border-radius: 8px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 19px/1 "Work Sans", sans-serif;
    font-weight: 500;
    text-align:center;
    cursor: pointer;
    width: 100px;
    top: 420px;
    right: 530px;
}

input-text{
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    font-family: 'Work Sans';
    font-size: 11px;
    width: 50%;
    margin-left: 10px;
} 

.login-box{
	position:relative;
	bottom: 20px;
	margin: 10px auto;
	width: 600px;
	height: 380px;
	background-color: white;
	padding: 0px;
}

.email-signup{
	position:relative;
	float: left;
	width: 100%;
	height:auto;
	margin-top: 20px;
	text-align:center;
}

.form-top {
	position: relative;
	left: 130px;
	top: 10px;
	display: grid;
	justify-content: left;
	width: 700px;
	grid-auto-rows: 75px;
	grid-auto-columns: 40px;
}

#profileImage {
	position: relative;
	top: 4px;
	max-width: 100px;
	max-height: 100px;
	min-width: 120px;
	min-height: 120px;
	cursor: pointer;
}

#imageUpload{
	display: none;
}

#grid-2 {
	grid-row-start: 1;
    grid-column-start: 2;
	width: 400px;
}

#grid-3 {
	grid-row-start: 2;
    grid-column-start: 2;
	width: 400px;
}

.u-form-group{
	width:100%;
	padding-bottom: 13px;
	grid-column: span 2;
}

.u-form-group input:focus{
	border-color: #358efb;
}

.u-form-group submit{
	width:50%;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
}

input:focus:invalid {
	border:1px solid red;
}

.submit-buttn1 {
	background:#25aae7;
    border: 0;
    border-radius: 5px;
    color:         #ffffff;
    display:       inline-block;
    font:          14px/1 "Work Sans", sans-serif;
    font-weight: 300;
    text-align:center;
    cursor: pointer;
    width: 110px;
	height: 40px;
}

.delete-buttn {
    background-color: white;
    border: solid 2px;
    border-radius: 5px;
    color:         #25aae7;
    display:       inline-block;
    font:          11px/1 "Work Sans", sans-serif;
    font-weight: 300;
    text-align:center;
    cursor: pointer;
    width: 110px;
	height: 40px;
}

#buttonss {
    display: grid;
    grid-template-columns: 130px 127px;
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    margin-top: 10px;
    right: 10px;
}