body{
	background-color: white;
	margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.login-box{
	position:relative;
	margin: 10px auto;
	margin-top: 10px;
	width: 600px;
	height: 380px;
	background-color: white;
	padding: 10px;
	top: 20px;
}

.lb-header{
	position:relative;
	color: #00415d;
	margin: 5px 5px 10px 5px;
	padding-bottom: 10px;
	text-align:center;
	height: 28px;
}

.lb-header a{
	margin: 0 25px;
	padding: 0 20px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 17px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.lb-header .active{
	color: #25aae7;
	font-size: 20px;
}

.social-login{
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:auto;
	padding: 0px;
}

.social-login a{
	position:relative;
	float: left;
	width: 5%;
	text-decoration: none;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	padding: 12px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 3%;
	text-align:center;
}

.social-login a i{
	position: relative;
	float: left;
	width: 30px;
	top: 1px;
}

.social-login a:first-child{
	background-color: #49639F;
}

.social-login a:nth-child(2){
	background-color: #DF4A32;
}

.social-login a:last-child{
	background-color: #1DA1F2;
}

.email-login,.email-signup{
	position:relative;
	float: left;
	width: 100%;
	height:auto;
	margin-top: 20px;
	text-align:center;
}

.form-top {
	position: relative;
	left: 130px;
	top: 10px;
	display: grid;
	justify-content: left;
	width: 700px;
	grid-auto-rows: 75px;
	grid-auto-columns: 40px;
}

#profileImage {
	position: relative;
	top: 4px;
	max-width: 100px;
	max-height: 100px;
	min-width: 120px;
	min-height: 120px;
	/* cursor: pointer; */
}

#imageUpload{
	display: none;
}

#grid-1 {
	grid-row: span 2;
	padding: 0px;
}

#grid-2 {
	grid-row-start: 1;
    grid-column-start: 2;
	width: 400px;
}

#grid-3 {
	grid-row-start: 2;
    grid-column-start: 2;
	width: 400px;
}

.u-form-group{
	width:100%;
	padding-bottom: 13px;
	grid-column: span 2;
}

.u-form-group input[type="email"],
.u-form-group input[type="username"],
.u-form-group input[type="date"],
.u-form-group input[type="password"],
.u-form-group input[type="text"]{
	width: calc(50% - 22px);
	height: 45px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
	color: #333;
	font-size:0.8rem;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}

.u-form-group input:focus{
	border-color: #358efb;
}

.u-form-group submit{
	width:50%;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
}

input:focus:invalid {
	border:1px solid red;
}

.forgot-password {
	width:50%;
	text-align: left;
	text-decoration: underline;
	color: #888;
	font-size: 0.75rem;
}

.submit-buttn {
	background:#25aae7;
    border: 0;
    border-radius: 5px;
    color:         #ffffff;
    display:       inline-block;
    font:          19px/1 "Work Sans", sans-serif;
    font-weight: 300;
    text-align:center;
    cursor: pointer;
    width: 170px;
	height: 40px;
}

.submit-buttn1 {
	background:#25aae7;
    border: 0;
    border-radius: 5px;
    color:         #ffffff;
    display:       inline-block;
    font:          19px/1 "Work Sans", sans-serif;
    font-weight: 300;
    text-align:center;
    cursor: pointer;
    width: 170px;
	height: 40px;
}

label {
	width:50%;
	text-align: left;
	font-size: 0.75rem;
}

.buttonss {
	display: flex;
}